# <p style='text-align:center;'> Python basics  </p>

Python is emerging as the popular language used more in data science applications.

Take the case of the tech giant Google that has created the deep learning framework called tensorflow – Python is the primary language used for creating this framework. Its footprint has continued to increase in the environment promoted by Netflix. Production engineers at Facebook and Khan Academy have for long been using it as a prominent language in their environment.

Python became the most popular language in the data science world.
So what are you waiting for? Lets start learning python basic as your first assignment.


Add-on Reference: https://youtu.be/HGOBQPFzWKo

Add-on reference: https://youtu.be/8DvywoWv6fI

# <p style='text-align:center;'> Zen of Python  </p>

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Variable Declartion

In [ ]:
# declare two variables, a = 5, b = 'city'
a = 5
b = 'city'

In [ ]:
# print type of a
print(type(a))

<class 'int'>

In [ ]:
# print type of b
print(type(b))

<class 'str'>

In [ ]:
# swap the values of a and b
a,b = b,a

In [ ]:
# run this to confirm 
print(a)
print(b)

city
5

Cool! so variable declaration and getting it's type was easy.

## Arithmetic Operations

In [ ]:
# declare two variables, a = 24, b = 3

a =24
b = 3
print('a = {}, b = {}'.format(a,b))

a = 24, b = 3

In [ ]:
print('a + b =', a+b)
print('a - b =', a-b)
print('a * b =', a*b)
print('a / b =', a/b)
print('a % b =', a%b)
print('a // b =', a//b)
print('a ^ b =', a**b)

a + b = 27
a - b = 21
a * b = 72
a / b = 8.0
a % b = 0
a // b = 8
a ^ b = 13824

## Math Functions

Lets do some simple mathematical operations by using math module. Math module contains various mathematical functions. So here we go!

Reference:- https://youtu.be/gktjNyV0xks

Reference document: https://docs.python.org/3/library/math.html

In [ ]:
#import math
import math

In [ ]:
# declare a variable x = 2 and y=5.32167
x = 2
y=5.32167

In [ ]:
# Print the maximum value between x and y
print(max(x,y))

5.32167

In [ ]:
# Print the minimum value between x and y
print(min(x,y))

2

In [ ]:
# Print square and cube of x and store in a and b variable
a = pow(x,2)
b = pow(x,3)
print(a)
print(b)

4
8

In [ ]:
#print log of x and store it in variable c
c = math.log(x)
print(c)

0.6931471805599453

In [ ]:
#print minimum value between x,y,a, b and c
print(min(x,y,a,b,c))

0.6931471805599453

In [ ]:
#print maximum value between x,y,a, b and c
print(max(x,y,a,b,c))

8

In [ ]:
#print the largest integer that is smaller than or equal to c. ie.round down
print(math.floor(c))

0

In [ ]:
#print the smallest integer that is greater than or equal to c ie. round up
print(math.ceil(c))

1

## Logical operations

You must be aware of some logical operations you did in college, like 'and', 'or', 'not' etc. These operations becomes even more easy to implement when you have friend like python.

Reference:- https://youtu.be/9w992l9TFIs

In [ ]:
# declare two variables, a = True, b = False
a = True
b = False
print(a)
print(b)

True
False

In [ ]:
# print type of a and type of b
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

A fun fact for you !
The Python Boolean type is one of Python's built-in data types. It's used to represent the truth value of an expression

In [ ]:
# print int(a) and int(b)
print('int of a is', int(a))
print('int of b is', int(b))

int of a is 1
int of b is 0

We are sure you must have seen that, values for 'True' is 1 and for 'False' is 0.

In [ ]:
# Find and print the values of not a, not b, a and b, a or b, a and not b
a = True
b = False
print("not a = ", not a)
print("not b = ", not b)
print("a and b = ", a and b)
print("a or b = ", a or b)
print("a and not b = ", a and not b)

not a =  False
not b =  True
a and b =  False
a or b =  True
a and not b =  True

We hope you tried to undertand the above output!

## List Comprehensions

Hey buddy! Python has really amazing thing called list comprehension. List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. Cool right? Let's dive into this more by doing it. 

Reference:- https://youtu.be/17gTGqHG5xQ

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20. 
# Hint: You can use range function of python to do this.
[x for x in range(1,21)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even
[x for x in range(1,21)if x%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the total number of charachters for each corresponding fruits.
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [37]:
fruits = ['mango', 'pineapple', 'grapes', 'litchi']
len_fruits =  [len(fruits[0]),len(fruits[1]),len(fruits[2]),len(fruits[3])]

print(fruits)
print(len_fruits)

['mango', 'pineapple', 'grapes', 'litchi']
[5, 9, 6, 6]

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

Amazing right?

## String value and operators

### Characters in strings


Reference:- https://www.programiz.com/python-programming/string

Reference:-  https://youtu.be/LnQDWIMaJlA

In [38]:
# declare the variables x = cat and y = dog and print it
x =  'cat'
y = 'dog'

print(x)
print(y)

cat
dog

In [40]:
#Print first character of both x and y. 
print("First ch of x =",x[0])
print("First ch of y =",y[0])

First ch of x = c
First ch of y = d

In [41]:
#Print last character of both x and y.
print("Last ch of x =",x[-1])
print("Last ch of y =",y[-1])

Last ch of x = t
Last ch of y = g

In [42]:
#Print len of both x and y
print("Length of x =",len(x))
print("Length of y =",len(y))

Length of x = 3
Length of y = 3

In [43]:
#concatenate both x and y and store it in variable z and print z
z = x + y
print(z)

catdog

In [45]:
#check if x is part of z 
print(x in z)

True

### String slicing



Hey coder, do you know? Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end

So be ready to implement it today!

In [46]:
#Create variable a = “pineapple”
a = 'pineapple'
print(a)

pineapple

In [67]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]
print(a[0:4]); print(a[4:9])

pine
apple

In [69]:
#Convert a into upper case
a.upper()

'PINEAPPLE'

## Dealing with Sentences

In [71]:
# Declare a sentence of ‘I am flying to London’ and print it
sentence = "I am flying to London"
print(sentence)

I am flying to London

In [77]:
#Print length of the sentence
print("length of the sentence is",len(sentence))

length of the sentence is 21

In [85]:
#Using list indexing, to print the word London
print(sentence[-6:21])

London

In [87]:
# Use .split to get list of individual words in the sentence
sentence.split()

['I', 'am', 'flying', 'to', 'London']

In [90]:
# Convert sentence in lower case 
sentence.lower()

'i am flying to london'

In [92]:
# Convert sentence in upper case .
sentence.upper()

'I AM FLYING TO LONDON'

Great job! Slicing is fun.

## Functions

Declare a function named square, which takes an input as x, and returns the square of x.

Reference:- https://youtu.be/Rpq9MC67M08

In [96]:
def square(x):
    return x*x

Call the function to find the value of square of 9.

In [99]:
# find the square of 9 using the function square you have just created.
print("square of 9 is",square(9))

square of 9 is 81

Wohoo! see, defining function was simple

#### Define another function which checks whether a given is number is odd or even for a given input and it should print whether the  number is odd or even as an output
<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [117]:
print("please enter your number to check, given number is odd or even")
num=int(input())
def CheckNum(num):
    if num%2==0:
      print(num, "is even")
    else:
      print(num, "is odd")

CheckNum(num)

please enter your number to check, given number is odd or even
11
11 is odd

Hey smarty! lets use both the functions together to check whether the square of 3,6 and 21 are odd or even.

In [125]:
 # your code here
p= square(3)
q= square(6)
r=square(21)
CheckNum(p)
CheckNum(q)
CheckNum(r)

9 is odd
36 is even
441 is odd

hey hey! You did a great code. Did you see the benefit of using functions

# Loops and Iterations
Reference:- https://youtu.be/6iF8Xb7Z3wQ

## If statement

In [131]:
#Declare a variable x equal to a number of your choice.
#your code here
x =  7
print(x)

7

In [132]:
#Using an if statement, print whether x is zero, positive or negative.
if x==0:
  print(x,"is zero")
if x>0:
  print(x, "is positive")
if x<0:
  print(x, "is negative")

7 is positive

In [242]:
# Now Define a function, which takes input from the user and prints whether the given input is zero,positive or negative.

print("please enter your number to check, given number is positive, negetive or zero:")
t=int(input())
def NumCheck(t):
  if t==0:
    print(t,"is zero")
  if t>0:
    print(t, "is positive")
  if t<0:
    print(t, "is negative")
NumCheck(t)

please enter your number to check, given number is positive, negetive or zero:
-9
-9 is negative

In [245]:
NumCheck(10)

10 is positive

## For loop

In [161]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.
country = ['India', 'Israel', 'Canada']
print(country)

['India', 'Israel', 'Canada']

In [170]:
#Using For loop, iterate over the list and print the elements.
#[print(i) for i in country]
for i in country:
  print(i)

India
Israel
Canada

In [188]:
# Using For loop, print the table of 2.
for i in range(2,11) :
  print((2), '*', i, "=",2*i)

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [272]:
#code here
x= [21, 'hello','cream', 20,19,'village']
for i in x:
    print(i)

21
hello
cream
20
19
village

Using For loop, lets create a pattern.

In [276]:
# print the following pattern
for x in range(6):
    print(x * " *")

 *
 * *
 * * *
 * * * *
 * * * * *

## While loop

- Using while loop make a function that prints all the values between 1 to n.

In [249]:
n = int(input("Please Enter any Number: "))
def counter(n):
  i=1
  print("The List of Numbers from 1 to {0} are".format(n))
  while i <= n:
    print(i)
    i += 1
counter(n)

Please Enter any Number: 6
The List of Numbers from 1 to 6 are
1
2
3
4
5
6

In [250]:
counter(10)

The List of Numbers from 1 to 10 are
1
2
3
4
5
6
7
8
9
10

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [252]:
# your code here
num = 5
while num <= 50:
    print(num)
    num = num + 5

5
10
15
20
25
30
35
40
45
50

----------------------------------------------------------------------